doctype html
html(lang='en')
  head
    title  Express
  body
    h4#author(title='Goss') Стуклова Ольга
    h1 Пример работы шаблонизатора
    #container
      p Список логинов:
      ol
        each item in items
          li= item.login